/* Blue: #00E3C8; */

body {
	background-color: #08253a;
	font-family: "Avenir";
	margin: 0;
}

#map {
  position: absolute;
  background-color: #08253a;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-filter 0.5s;
}

.spinnerCont {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.5rem;
	margin-top: -3.5rem;
	color: #fff;
	text-align: center;
	font-size: 2.75rem;
}

.spinnerCont i {
	color: #fff;
}

.logoCont {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -115px;
	width: 380px;
	height: 40px;
	background-image: url(../img/logo.png);
	background-size: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.searchCont {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -60px;
	width: 300px;
	height: 40px;
}

.smallSearchCont {
	position: absolute;
	top: 15px;
	right: 95px;
	width: 200px;
	height: 20px;
}

.buttonCont {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 10px;
	margin-left: -190px;
	width: 380px;
	height: 30px;
	background-color: #fff;
	border-radius: 3px;
	background-color: #00E3C8;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	cursor: pointer;
}

.searchField {
	width: 100%;
	height: 100%;
	outline: none;
	padding: 10px;
	padding-left: 58px;
	padding-right: 20px;
	font-size: 1.25rem;
	border: solid 1px #00E3C8;
	border-radius: 3px;
	color: #00E3C8;
	background-image: url("../img/search_light.png");
	background-color: rgba(255,255,255,0.95);
	background-size: 20px 20px;
	background-position: 20px 21px;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: background 0.3s ease, color 0.3s ease;
	color: rgba(0,0,0,0.2);
	font-family: "Georgia";
}

.searchField:focus {
	background-image: url("../img/search_dark.png");
	color: rgba(0,0,0,0.8);
}

.smallSearchField {
	width: 100%;
	height: 100%;
	outline: none;
	padding: 10px;
	padding-left: 40px;
	padding-right: 20px;
	font-size: 1rem;
	border: solid 1px #00E3C8;
	border-radius: 3px;
	color: #00E3C8;
	background-image: url("../img/search_light.png");
	background-color: rgba(255,255,255,0.95);
	background-size: 15px 15px;
	background-position: 13px 13px;
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: background 0.3s ease, color 0.3s ease;
	color: rgba(0,0,0,0.2);
	font-family: "Georgia";
}

.smallSearchField:focus {
	background-image: url("../img/search_dark.png");
	color: rgba(0,0,0,0.8);
}

.searchField::-webkit-input-placeholder {
	font-family: "Georgia";
}

/* Timeline */
.timeline {
	position: absolute !important;
	width: 100%;
	background-color: transparent !important;
	border-bottom: solid 5px #00E3C8 !important;
	bottom: 0px !important;
}

.tracker {
	position: absolute;
	height: 30px;
	bottom: 10px;
	left: 10px;
	border-radius: 2px;
	background-color: #00E3C8;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: ew-resize !important;
	color: #fff;
	font-weight: bold;
}

.trackerCont {
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	width: 150px;
}

.infoCont {
	position: absolute;
	top: 15px;
	right: 25px;
	color: #fff;
	border-bottom: dotted 1px #fff;
	cursor: pointer;
}

.infoCont:hover {
	/*color: #00E3C8;*/
	border-color: #00E3C8;
}

.infoPane {
	position: absolute;
	width: 500px;
	background-color: #fff;
	left: 50%;
	margin-left: -250px;
	top: 120px;
	border-radius: 4px;
	padding-bottom: 30px;
}

.infoLogo {
	height: 36px;
	margin-top: 12px;
	margin-left: 18px;
}

.cancelIcon {
	float: right;
	color: #fff;
	font-size: 3rem;
	margin-right: 18px;
	margin-top: 1.25rem;
	cursor: pointer;
}

.cancelIcon:hover {
	color: #00E3C8;
}

.infoHeader {
	background-color: #333;
	width: 100%;
	height: 56px;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.infoBody {
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}

.infoPane p {
	font-family: "Georgia";
	line-height: 1.9rem;
	font-size: 1rem;
	color: #333;
}

.infoPane a {
	border-bottom: dotted 1px #00E3C8;
	color: #333;
	text-decoration: none;
	font-style: italic;
}

.infoPane h4:first-of-type {
	margin-top: 15px;
}

.infoPane h4 {
	color: #333;
	margin-top: 30px;
	font-size: 1.3rem;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	width: 100%;
}

.leaflet-control-attribution {
	display: none;
}

/* Add ons */
.blurred {
	-webkit-transition: -webkit-filter 0.5s;
	-webkit-filter: grayscale(100%) brightness(50%);
}

.fadeOutT {
	-webkit-transition: opacity 0.3s ease;
	opacity: 0;
}

.fadeInT {
	-webkit-transition: opacity 0.3s ease;
	opacity: 1;
}

.hide {
	opacity: 1;
	display: none;
	z-index: -100000;
}
